<!-- hello/templates/hello/kontakt.html -->
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'hello/site.css' %}">
    <title>Kontakt</title>
</head>
<body>
    <h1>Kontaktinformationen</h1>
    <p>Wenn Sie Fragen haben, zögern Sie nicht, mich zu kontaktieren:</p>
    <p>E-Mail: <a href="mailto:ihre-email@example.com">ihre-email@example.com</a></p>
    <!-- Ersetzen Sie 'ihre-email@example.com' mit Ihrer tatsächlichen E-Mail-Adresse -->
    <!-- Weitere Kontaktinformationen können hier hinzugefügt werden -->
</body>
</html>




